* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    list-style-position: inside;
}



/* TYPO */

@font-face {
    font-family: "Playfair Display";
    src: url("../font/PlayfairDisplay-Regular.woff2");
}
@font-face {
    font-family: "Playfair Display Italic";
    src: url("../font/PlayfairDisplay-Italic.woff2");
}
@font-face {
    font-family: "Playfair Display Bold";
    src: url("../font/PlayfairDisplay-Bold.woff2");
}
@font-face {
    font-family: "Playfair Display Bold Italic";
    src: url("../font/PlayfairDisplay-BoldItalic.woff2");
}

main li {
    margin-left: 10px;
}

p, ul {
    margin-bottom: 10px;
}

html, body {
    font-family: 'Playfair Display', serif;
    font-size: 10pt; 
    line-height: 1.4;
    background: rgba(216, 216, 216, 0.01);
}

em {
    font-style: italic;
}

strong {
    font-family: 'Playfair Display Bold', serif;
    font-weight: 300;
}


/* LAYOUT */

body {
	display: flex;
	justify-content: space-between;

	padding: 30px;
}

main {
	flex: 1;
}

aside {
	flex-shrink: 0;
	
	margin-left: 20px;
	
	width: calc(33.33% - 20px);
	width: calc((100% / 3) - 20px);
}

.sticky {
	position: sticky;
	top: 30px;
}

#content div {
	width: calc(50% - 10px);
}

iframe {
    width: 100%;
    height: 90vh;
}



/* RESET */

a {
    text-decoration: none;
    color: blue;
}
a:hover {
    cursor: pointer;
}


/* ASIDE */

#menu, #tags, #notice {
	border-left: 1px solid blue;
	padding-left: 20px;
}

/* menu */
#menu li {
    list-style: none;
}

#menu a {
	font-family: "Playfair Display Bold";
    color: black;
}

#menu a:hover {
    text-decoration: underline;
}


/* tags */

#tags {
	margin-top: 30px;
}

#tags li {
	list-style: none;
    border-bottom: 1px solid black;
    margin-bottom: 3px;
}

#tags li:hover {

    cursor: pointer;
    background: rgba(216, 216, 216, 0.3);
}

#tags li span {
    float: right;
    margin-right: 5px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

#tags li span.survol {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#tags a {
    letter-spacing: 0.4px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 90%;
}

#tags ul {
    display: none;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: blue;
}

textarea {
    font-size: 100%;
    line-height: 17px;
    font-family: PlayfairReg;
    height: auto;
    width: 100%;
    outline: none;
    border: none;
    color: blue;
    resize: none;
}

textarea:focus {
    background: rgba(216, 216, 216, 0.40);
}

button {
    font-size: 80%;
    float: right;
    color: blue;
    background: none;
    border: 1px solid blue;
    padding: 3px;
    margin: 5px 0 5px 100%;
}

.hiddendiv {
    font-size: 100%;
    line-height: 17px;
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
    max-height: 300px;
}

.typologie {
    vertical-align: top;
    width: 49%;
    margin: 0 0 0 0;
    display: inline-block;
}

.typologie:nth-child(even) p {
    width: 90% !important;
}

.bouton {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 2px;
    font-weight: normal;
}

.bouton.selected {
    color: white !important;
    background: blue !important;
}

ul .bouton span {
    border-bottom: 1px solid blue;
}




#content h3 {
    display: inline-block;
}

#content h3 a {
    color: blue;
    border: 1px solid blue;
    padding: 2px 4px;
    margin-top: 2px;
}



#apropos {
    width: calc(45% - 40px);
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding:10px;
}

#apropos a {
    text-decoration: underline;
}

#content h1 {
    font-size: 180%;
}

#content h1 a {
    font-size: 100%;
    color: black;
}

#content h2 {
    font-size: 100%;
}

#content h2 a {
    font-size: 100%;
    color: black;
}

#content div {
    padding: 10px;
    border: 1px solid blue;

    margin-bottom: 20px;
}

#content div:hover {
    background: rgba(216, 216, 216, 0.3);
}


#content h4 {
    text-align: right;
    margin: 10px 0 0 0;
}

#content h4::before { 
  
}

#content h4 a {
    font-size: 90%;
    padding: 0;
    text-decoration: none;
    border-bottom: 1px dotted blue;
}

#content img {
    max-width: 100%;
}

#content p {    
    font-size: 100%;
}

#content p a {
    font-size: 100%;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

#content a {
    background: none;
    margin: 0 15px 2px 0;

    border: none;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
 }

#content a.bouton:not(.selected):hover {
    background: white;
}

.box {
    margin: 5px 0 5px 0;
    display: block;
    font-family: 'Playfair Display', serif;
}



/* WRITE */


#notice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 30px;
}
#notice li {
    list-style: none;
    border-bottom: 1px solid black;
    margin-bottom: 3px;
}

#notice > div:nth-child(1) {
    width: 100%;
}

#notice > div {
    width: calc(50% - 10px);
}

.typologie ul {
    color: blue;
}
